### Step 1 : Install the package
pip install pip install spylon-kernel

### Step 2: Create a kernal (scala)
This will alow us to select scala kernal in the notebook

python -m spylon_kernel install

### Step 3: Install and use jpyter notebook
pip install jupyter

And in the notebook we select New -> spylon-kernel . This will start our scala kernel.

Please make sure SPARK_HOME in set.

To set in linux/mac OS, put below statements in the home .bash_profile file.
e.g export SPARK_HOME=/Users/vishalmishra/spark-2.4.3-bin-hadoop2.7

cd ~
vi .bash_profile

----
----

export SPARK_HOME=/path/to/spark directory

---

:wq!  --> Save and Exit

### Testing spark version

In [1]:
spark.version

Intitializing Scala interpreter ...

Spark Web UI available at http://192.168.1.69:4040
SparkContext available as 'sc' (version = 3.0.1, master = local[*], app id = local-1601114713860)
SparkSession available as 'spark'

res0: String = 3.0.1

### Tesing simple scala code

In [2]:
val x=5
val y=7
x+y

x: Int = 5
y: Int = 7
res1: Int = 12

### Testing Spark dataset/dataframe Api

In [3]:
val data = Seq(("Vish",20), ("Abhi",25), ("Jack",19), ("Ryan",21))
val ds = spark.createDataset(data)
ds.show()

+----+---+
|  _1| _2|
+----+---+
|Vish| 20|
|Abhi| 25|
|Jack| 19|
|Ryan| 21|
+----+---+

data: Seq[(String, Int)] = List((Vish,20), (Abhi,25), (Jack,19), (Ryan,21))
ds: org.apache.spark.sql.Dataset[(String, Int)] = [_1: string, _2: int]

In [4]:
//create a case class defnining the schema for the dataframe
case class Student(name: String, Age: Integer)

defined class Student

In [5]:
//map dataset to the case class Student
val dataframe = ds.map{case (a, b) => Student(a,b)}

dataframe: org.apache.spark.sql.Dataset[Student] = [name: string, Age: int]

In [6]:
//Create Temporary Table
dataframe.toDF.createOrReplaceTempView("student_table")

### Testing Python
##### You can use Python as well within the same notebook

In [7]:
%%python
pdf = spark.sql("select name from student_table")
pdf.show()

+----+
|name|
+----+
|Vish|
|Abhi|
|Jack|
|Ryan|
+----+